html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica Neue',
    sans-serif,'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,0.5);
}

.wrapper {
  width: 95vw;
  margin: auto;
}
