.input-container {
  display: flex;
  width: 100%;
}

#chart-type-input {
  display: inline-block;
  width: 25%;
}

#date-input {
  display: inline-flex;
  width: 75%;
}

#start-date-input {
  display: inline-block;
  width: 50%
}

#end-date-input {
  display: inline-block;
  width: 50%
}