.inputContainer {
  display: flex;
}

#chart-type-input {
  display: inline-flex;
}

.input-group {
  display: inline-block;
}

#inputGroup-sizing-sm {
  min-width: 135px;
  max-width: 135px;
  font-size: 0.7rem;
}

#date-input {
  display: inline-flex;
  width: 65%;
}

#start-date-input {
  display: inline-block;
  width: 50%
}

#end-date-input {
  display: inline-block;
  width: 50%
}

#inputGroupSelect01 {
  font-size: 0.7rem;
  min-width: 100px;
  max-width: 100px;
}