#chart-type-input {
  display: inline-flex;
  width: 25%;
}

.input-group-prepend {
  width: 25%;
}

#date-input {
  display: inline-flex;
  width: 65%;
}

#start-date-input {
  display: inline-block;
  width: 50%
}

#end-date-input {
  display: inline-block;
  width: 50%
}